# # -------请求网络相关的配置----------
# REQUEST_TIMEOUT = 10  #超时时间 
# USE_SESSION = False   # 是否启用会话
# USER_AGENT_TYPE = "chrome" # 随机请求头类型
# RETRY_TIMES = 2 # 失败重试次数
# SAVE_ERROR_RESPONSE = True
# # -----------------------------

# # -----------日志模块的配置---------------
# LOG_LEVEL= "DEBUG"
# LOG_PATH = "."     # 日志的存储位置
# LOG_MAX_BYTES = 10 * 1024 * 1024
# LOG_BACKUP_COUNT = 5
# LOG_ENCODING = "utf8"
# LOG_FORMAT = "[%(asctime)s] [%(levelname)s] [<pid:%(process)s>] [<tid:%(thread)d>] -- %(filename)s[line:%(lineno)d] %(message)s"
# PRINT_EXCEPTION_DETAILS = True
# # ---------------------------------------

###############消息推送###################
# WORKWECHATKEY=None
##############################################