# -*- coding: utf-8 -*-
"""
Created  : {DATE}
---------
@summary :
---------
@author  : {USER}
"""

from webspider.spider.baseSpider import BaseSpider
from webspider.core.request import Request
from webspider.utils.log import log
from webspider.utils.tools import SpiderRecordManager
from webspider.db.memoryDB import MemoryDB  # 使用内置的queue作为队列

def start_requests():
    """初始化任务"""
    yield Request(url="https://www.baidu.com")

class ${object_name}(BaseSpider):
    name="${spider_name}"

    def __init__(self, *args, spider_id=None, **kwargs):
        super(${object_name}, self).__init__(*args, **kwargs)
        self.response_queue = MemoryDB() # 待解析队列
        self.database_queue = MemoryDB() # 待存储队列
        self.spider_id = spider_id

    def parse(self, request, response):
        """网页解析"""
        pass
    
    def before_request(self, request):
        """请求之前的hook函数"""
        request.random_user_agent=True

    def check_reponse(self, response):
        """检测请求的结果是否符合预期"""
        return True


if __name__ == "__main__":
    # log.set_log_config(name="${spider_name}.log") # 日志的存储位置
    with SpiderRecordManager(${object_name}.name) as spider:
        ${object_name}(start_requests, spider_id=spider).run()